QWidget#signUp QPushButton:hover {
    background-color: #b3c8d3;
}

QWidget#signUp QPushButton {
    background-color:#81a3b6;
    border: 0px #FFFFFF solid;
    color: #40273b;
    font-size: 20px;
    font-weight: bold;
}

QWidget#signUp{
    background-image: url(D:/QT/mmm/css/backGround.png);
    background-position: center center;
}

QWidget#signUp QLabel {
    color: #40273b;
    font-weight: bold;
    font-size: 20px;
}

QWidget#signUp QLineEdit{
    background-color:#81a3b6;
    border: 0px #ffffff solid;
    font-size: 20px;
    font-weight: bold;
}
