QWidget#signUp, #mainChat {
    background-image: url(D:/QT/gram/css/backGround.png);
    background-position: center center;
}

QWidget#signUp QPushButton {
    background-color:#81a3b6;
    border: 0px;
    color: #40273b;
    font-size: 20px;
    font-weight: bold;
}

QWidget#signUp QPushButton:hover {
    background-color: #b3c8d3;
}

QWidget#signUp QLabel {
    color: #40273b;
    font-weight: bold;
    font-size: 20px;
}

QWidget#signUp QLineEdit {
    background-color:#81a3b6;
    border: 0px;
    font-size: 20px;
    font-weight: bold;
}

QPushButton#sendButton{
    background-image: url(D:/QT/gram/css/send.png);
    background-position: center center; 
    border: 0px;
}

QFrame#mesFrame{
    background-image: url(D:/QT/gram/css/mesFrame.png);
    background-position: center center; 
    border: 0px;
}

QFrame#infoFrame{
    background-image: url(D:/QT/gram/css/infoFrame.png);
    background-position: center center; 
    border: 0px;
}

QFrame#chat{
    background-color: #7976A4;
}

QLabel#photoLabel{
    background-image: url(D:/QT/gram/css/busov.png);
    border-radius: 30%;
}

